<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Source" value="\\\\192.168.100.94\\press live archiver\\"/>
   <add key="Temp" value="c:\\files\\f\\temp\\"/>
 <add key="Dest" value="C:\\files\\f\\temp\\"/>
 <add key="CheckTimeMinute" value="1"/>
  <add key="BeforNewsFileMinSec" value="0010"/>
    <add key="BeforNewsFileMinSecEnd" value="0100"/>
    <add key="AfterNewsFileMinSec" value="1510"/>
    <add key="AfterNewsFileMinSecEnd" value="1610"/>
    <add key="TimeOffset" value="-4.5"/>
    <add key="Bitrate" value="700"/>
    <add key="Fps" value="25"/>
    <add key="WebDest" value="c:\\files\\f\\temp\\Web\\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
